// Place all the styles related to the main_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html{
  min-height: 100%;
}
body{

  background: 
  /* On "top" */
  repeating-linear-gradient(
    45deg,
    transparent,
    transparent 20px,
    #d00 20px,
    #d00 40px
  ),
  /* on "bottom" */
  linear-gradient(
    to bottom,
    #d00,
    #faa
  );
}

nav h1{
  color: red;
}